@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(220, 84%, 88%);
  gap: 1rem;
}
.container {
  width: 27vw;
  height: 80vh;
  padding: 1rem;
  background: hsl(0, 0%, 100%);
  border-radius: 1rem;
}
.img_section {
  width: 100%;
  height: 70%;
}
.img_section img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.content_section {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.content_section p {
  color: gray;
  font-size: 0.9rem;
}

@media screen and (max-width: 575px) {
  .img_section {
    height: 40vh;
  }
  .container {
    width: 80vw;
    height: 70vh;
  }
  .content_section {
    padding: 0.2rem;
  }
}
